.box {
  width: 100%;
  height: 250px;
  border: 1px solid #e8e8e8;
  font-size: 30px;
  font-weight: bold;
  color: yellowgreen;

  background-image: url(https://style.youkeda.com/img/ykd-components/logo.png);
  background-repeat: no-repeat;   /* 背景图重复 */
  background-position: center;    /* 背景图位置 */
  background-size: contain;       /* 背景图大小 */
  background: url(https://style.youkeda.com/img/ykd-components/logo.png)
    no-repeat center / contain;
}