html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

input,
nav,
span,
button,
label,
option,
div {
  margin: 0;
  padding: 0;
}

/* 浏览器都有自己的默认样式，以上部分为清除浏览器默认样式 */

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
}

a.qq {
  margin-left: 10px;
  margin-top: 20px;
  float: left;
  cursor: pointer;
  font-size: 0;
}

a.qq > img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

a.qq > span {
  vertical-align: middle;
  font-size: 36px;
  line-height: 43px;
  margin-left: 6px;
}

ul.right {
  float: right;
}

ul.right > li {
  float: left;
  margin-top: 20px;
  margin-right: 40px;

  font-size: 16px;
  line-height: 24px;

  cursor: pointer;
}

.bright {
  width: 95px;
  height: 34px;
}

.bright > img {
  width: 100%;
  height: 100%;
}

ul.right > li.language {
  font-size: 0;
  margin-top: 30px;
}

ul.right > li.language span {
  font-size: 16px;
  vertical-align: middle;
}

ul.right > li.language .arrow {
  vertical-align: middle;
  width: 12px;
  height: 8px;
}

ul.right > li.contact {
  margin-top: 30px;
}

/*上面是QQ注册页头部CSS*/


.photo {
  display: inline-block;
  width: 480px;
  height: 800px;
  background: url(http://document.youkeda.com/P3-1-HTML-CSS/1.11/bg.png);
  background-size: cover;
}

body {
  position: relative;
}
div.right {
  display: inline-block;
  width: calc(100% - 480px);
  height: 800px;
  position: absolute;
  left: 480px;
}
.center {
  width: 488px;
  height: 586px;

  position: fixed;
  top: 50%;
  left: 50%;

  padding: 10px;
  margin-top: -288px;
  margin-left: -10px;
} 

div.welcome {
  width: 248px;
  height: 62px;
  font-family: "PingFang SC  ";
  font-size: 44px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
}
p.day {
  display: inline-block;
  width: 252px;
  height: 34px;
  line-height: 33.6px;
  font-family: "PingFang SC  ";
  font-size: 27px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 63px;
}
a.lianghao {
  display: inline-block;
  width: 96px;
  height: 29px;
  line-height: 28.8px;
  font-weight: "PingFang SC  ";
  font-size: 23px;
  font-weight: 700;
  color: #359EFF;
  margin-left: 132px;
  margin-bottom: 65px;
}
.username,
.password,
#area,
.phone {
  width: 480px;
  height: 52px;
  border-radius: 4px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #AAAAAA;
  margin-bottom: 32px;
}

select#area {
  width: 154px;
  margin-bottom: 10px;
}
input.phone {
  display: inline-block;
  width: 307px;
  margin-left: 19px;
  margin-bottom: 10px;
}

div.select {
  position: relative;
  display: inline-block;
}
img.area_arrow {
  width: 12px;
  height: 8px;
  position: absolute;
  top: 23px;
  right: 3px;
}


.retrieve_password {
  width: 156px;
  height: 14px;
  line-height: 14px;
  font-family: "PingFang SC  ";
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 38px;
}

.sign {
  width: 480px;
  height: 60px;
  border-radius: 4px;
  background-color: #3487FF;
  border: solid 1px #3083FF;
  box-shadow: 0 5px 8px 0 #185FFF;

  color: #FFFFFF;
  font-size: 24px;
  font-weight: 100;
  font-family: "PingFang SC";

  margin-bottom: 33px;
}

.policy {
  width: 256px;
  height: 30px;
  line-height: 30px;
  font-family: "PingFang SC  ";
  font-size: 13px;
  font-weight: 400;
  color: #AAAAAA;
}

input.choice {
  width: 12px;
  height: 12px;
}

.apolicy > .choice_arrow {
  width: 12px;
  height: 8px;
  margin-left: 8px;
}

.final {
    width: 337px;
    height: 20px;
    font-family: "PingFang SC";
    font-size: 14px;
    font-weight: 400;
    color: #BBBBBB;
    text-align: center;
    margin-top: 754px;
    margin-left: 425px;
}


